<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /Ripplect3/Beta/assets/frontend/layout/img/payments</title>
 </head>
 <body>
<h1>Index of /Ripplect3/Beta/assets/frontend/layout/img/payments</h1>
<ul><li><a href="/Ripplect3/Beta/assets/frontend/layout/img/"> Parent Directory</a></li>
<li><a href="MasterCard.jpg"> MasterCard.jpg</a></li>
<li><a href="PayPal.jpg"> PayPal.jpg</a></li>
<li><a href="american-express.jpg"> american-express.jpg</a></li>
<li><a href="visa.jpg"> visa.jpg</a></li>
<li><a href="western-union.jpg"> western-union.jpg</a></li>
</ul>
</body></html>
